#banner {
    position: relative;
}

#banner .banner-image {
    background: url("../../assets/images/bg-dots.svg");
    background-position: 100% 25%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#banner .banner-image .image {
    width: 520px;
    height: 586px;
}

#banner .banner-heading {
    font-size: 3.5rem;
    font-weight: 600;
}

.banner-text {
    font-weight: normal;
    font-size: 1.2rem;
    width: 630px;
    color: #ACACAC;
}



@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {

    .buttonbtn{
        margin-left: 4vh;
    }
}

@media(max-width:767px) {
    #banner .banner-heading {
        font-size: 2.2rem;
        text-align: center;
        margin-top: 1rem;
    }

    .banner-text {
        text-align: center;
        width: 100%;
        font-size: 1rem;
    }

    #banner .banner-image {
        background: none;
    }

    #banner .banner-image .image {
        width: 80%;
        height: 100%;
    }

    #banner-btn {
        justify-content: center !important;
        width: 100%;
        margin-left: 5%;
    }
}