* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.assessment {
    background-color: #F5F7F9;
    padding-bottom: 5vh;
}

.head {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-inline: 10vh;
}

.f-btn {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.btn-1 {
    padding: 7px 60px;
    background-color: white;
    border-radius: 18px;
    border: 1px solid #707070;
    font-weight: 600;
}

.btn-2 {
    padding: 8px 30px;
    background-color: #00823B;
    border-radius: 18px;
    color: white;
    font-weight: 500;
    border: none;
}


.assessform-1 {
    width: 100%;
}

.form-1 input:focus,
.form-2 input:focus,
.form-2a input:focus,
.form-3 input:focus,
.form-4 input:focus,
.form-5 input:focus {
    border: none !important;
    outline: 0 !important;
    border-color: none !important;
}

.f-1,
.f-2 {
    border: none !important;
    border-bottom: 1px solid #C8C8C8 !important;
    width: 100%;
    box-shadow: none;
    color: #AFAFAF;
}

.f-1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.f-2 {
    padding: 10px 0px;
}

.f-4 {
    position: absolute;
    border: none !important;
    width: 47%;
    box-shadow: none;
    background-color: #ffffff;
    margin-left: 15px;
    padding: 15px 10px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.f-5 {
    position: absolute;
    border: 1px solid #C8C8C8 !important;
    width: 47%;
    box-shadow: none;
    background-color: #ffffff;
    margin-left: 15px;
    padding: 15px 10px;
    border-radius: 7px;
}

.form-2 {
    margin-top: 20px;
}

.form-2a {
    margin-top: 0px;
}

.form-3 {
    margin: 20px 0px 40px 0px;
}

.form-4 {
    margin-top: 30px;
}

.form-5 {
    margin: 25px 0px 40px 0px;
}

.form-2 label {
    font-size: 25px;
    font-weight: 600;
    margin-top: 12px;
}

.form-2a label {
    font-size: 25px;
    font-weight: 600;
    margin-top: 1px;
}

.form-3 label {
    font-size: 18px;
    color: #AFAFAF;
    margin-top: 15px;
}

.form-4 label,
.form-5 label {
    font-size: 18px;
    color: #000000;
    margin-top: 15px;
}

.add p {
    border-top: 1px solid #C8C8C8;
    margin-top: 7%;
}

.add-btn {
    position: absolute;
    background-color: white;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: -2.5%;
    margin-left: -4%;
}

.add {
    display: block;
    text-align: center;
}

.choice {
    text-align: end;
    padding-bottom: 10px;
}

.add-cho {
    position: absolute;
    background-color: white;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: -0.5%;
    margin-left: -21%;

}

.add img {
    width: 2vh;
}


.checkimg {
    transform: rotate(0deg) !important;
}

.chkbx {
    border-radius: 1vh;
    padding: 2vh;
    margin: 2vh;
}

.question {
    border: none !important;
    width: 33%;
    box-shadow: none;
    background-color: #F5F7F9;
    margin-left: 15px;
    padding: 15px 10px;
    border-radius: 7px;
}

.answer {
    border: none !important;
    width: 33%;
    box-shadow: none;
    background-color: #ffffff;
    margin-left: 15px;
    padding: 10px 1px;
    border-radius: 7px;
}

.radio {
    width: 5%;
    box-shadow: none;
    background-color: #F5F7F9;
}

@media (max-width:767px){
    .answer {
        width: 40%;
        padding: 0;
    }
}