.profile {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 7vh;
    gap: 3vh;
}

.profileHeader img {
    width: 15vh;
    border-radius: 10vh;
}

.profilePic {
    background-color: white;
    border-radius: 10vh;
    border: 1px solid;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.name {
    font-size: larger;
}


.profileBody {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.profileBody label {
    padding: 1vh;
    cursor: pointer;
    color: var(--primary-color);
    background: white;
    width: 60vh;
    border: 1px solid;
    border-radius: 0.375rem;
    font-weight: 600;
}

.profileBody button img {
    width: 2vh;
}
.profileBody button {
    padding: 1vh;
    cursor: pointer;
    color: var(--primary-color);
    background: white;
    width: 60vh;
    border: 1px solid;
    border-radius: 0.375rem;
    font-weight: 600;
}

.profileBody label img {
    width: 2vh;
}

.profileBody input {
    border: none !important;
    padding: 1.5vh;
}

.skills {
    margin-top: 5vh;
    font-size: larger;
}

.skillList {
    display: flex;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
}

.skillList .form-group {
    width: 25vh;
}

.skillList input {
    width: 25vh;

}

.skill-item{
    display: flex;
}
.sliderpercent {
    background-color: #E2F0E8;
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    padding: 1vh;
    color: #00823B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.profileFooter {
    margin-top: 5vh;
    
}

.profileFooter button {
    min-width: 25%;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profileScore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profileScore .progressBar {
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 33px #00000012;
    border-radius: 95px;
    opacity: 1;
}

.profile-progress {
    width: 50vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 33px #00000012;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 95px;
    z-index: 111;
}

.profile-progress .progressBar {
    display: flex;
}

.profile-progress .progressBar .progressleft {
    margin-right: 1rem;
}

.profileScore {
    margin-top: -4rem;
    width: 60vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 33px #00000012;
    border: 1px solid #B9BBBD;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.profileScore div p {
    margin-bottom: 0;
}

.profileScore div p:nth-of-type(1) {
    font-weight: bold;
    font-size: 18px;

}

.profileScore div p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
    margin-bottom: 1rem;
}