.createemp {
    height: 84vh;
}

#On-board {
    margin-left: 0px;
    background: transparent;
    padding: 20px 0;
}

.back {
    /* width: 100%; */
    background: #F5F7F9;
    cursor: pointer;
}

.back-item {
    display: flex;
    padding-left: 40px !important;
    padding-top: 40px;
    column-gap: 18px;
}

.back-item i {
    font-size: 28px;
    color: #d7f0e1;
}

.back-item h4 {
    font-size: 16px;
    font-weight: 600;
}

.onboard-heading {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.f-3 input {
    display: none;
}

.f-3 img {
    position: relative;
    right: 7%;
    width: 15px;
    height: 15px;
}

.f-3 label {
    border: 0 !important;
    box-shadow: none !important;
    border-style: none !important;
    padding-top: 7px;
    padding-left: 10px;
    width: 375px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

select {
    border: none !important;
    box-shadow: none !important;
    padding-left: 10px;
    width: 375px;
    padding: 10px 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

select:focus {
    outline: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
}

.onboard-form-1 input:focus {
    outline: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
}

.form-item input {
    border: 0 !important;
    box-shadow: none !important;
    border-style: none !important;
    padding-left: 10px;
    width: 375px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-item {
    margin-bottom: 25px;
}

.form-item button {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    width: 375px;
    padding: 7px;
    color: white;
    background-color: #00823B !important;

}

.s-1 {
    position: relative;
    right: 10px;
    margin-top: 5px;

}

.s-2 {
    position: relative;
    right: 5%;
    margin-top: 5px;
}

.email p {
    color: red;
    bottom: 0%;
    visibility: hidden;
    margin: 0%;
    font-size: 14px;
    padding-left: 20px;
}

input[type=file]::file-selector-button {
    display: none;
}

@media(max-width:767px) {
    .login-form {
        width: 100%;
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    .form-item {
        margin-bottom: 18px;
    }

    #On-board {
        padding: 0;
    }

    .createemp.container {
        display: flex;
        padding: 1vh;
    }
}