.vreq {
    padding: 5vh;
}

.vreqbody {
    padding: 5vh;
    display: grid;
    grid-template-rows: repeat(2,40vh);
    grid-auto-flow: column;
    justify-items: start;
    gap: 6vh;
}

.vreqHeader{
    font-size: x-large;
    font-weight: bolder;
}

.companylogo img{
    border: 1px solid #00823B;
    width: 7vh;
    border-radius: 5vh;
    height: 7vh;
}

.vreqcardHead {
    display: flex;
    gap: 3vh;
    align-items: center;
}

.vreqcard {
    display: flex;
    padding: 2vh;
    background: white;
    width: 50vh;
    gap: 4vh;
    flex-direction: column
}

.managerlogo img{
    width: 10vh;
}

.cardBody {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.cardFooter button{
    padding-block: 1vh;
    padding-inline: 1vh;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #00823B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardFooter button img{
    width: 3vh;
}

.allow{
    width: 60%;
}

.deny{
    width: 40%;
    background-color: #CA0000 !important;
}

.cardFooter{
    display: flex;
    gap: 2vh;
}