*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.assesment{
    background-color: #F5F7F9;
    padding: 2% 3%;
    height: 100%;
}
.employe-details{
    padding: 4% 7%;
}
.employe-prof{
    display: flex;
}

.prof-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.prof-text{
    padding-left: 20px;
}
.prof-text h3{
    font-size: 23px;
    font-weight: bold;
    color: black;
}
.prof-text h6{
    font-size: 16px;
    font-weight: 600;
}
  

/* .progress-ring__circle {
  } */

.circles{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-wrap: wrap;
    /* align-items: center; */
    /* column-gap: 5%; */
}
.circle-box{
    display: flex;
}
circle, svg{
    background: none !important;
}
.circle{
    background: #F5F7F9;
    /* border: 1px #555 solid; */
    border-radius: 50%;
    position: relative;
    width: 5em;
    height: 5em;
    color: #fff;
    /* box-shadow: 0 0 1.5em rgba(0,0,0,0.6); */
}
.circle-inner{
    background: #F5F7F9;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.5em;
    height: 4.5em;
    /* box-shadow: 0 0 1.5em rgba(0,0,0,0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-inner::before{
    content: " ";
    background: #F5F7F9;
    /* box-shadow: 0 0 0.5em 0.5em rgba(0,0,0,0.7); */
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
    z-index: -1 ;
    
}

.circle h1{
    font-size: 25px;
    color: #000000;
}

.circle svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-ring__circle{
    stroke-dasharray: 40 3 ;
    
    /* stroke-dashoffset: 630; */
}







.skill-assessment{
    padding: 2%;
    margin: 0% 7% !important; 
    background: #FFFFFF;
    border-radius: 12px;
}
.slider-1{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.heading h3{
   font-size: 16px;
   font-weight: bold;
}
.slied{
    margin-top: -1%;
}
.range-1{
    width: 100%;
    height: 2px;
    outline: none;
    border-radius: 15px;
    accent-color: #00823B;
}
.range-1::-webkit-slider-thumb{
    appearance: none;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.value-1 h5{
    font-size: 14px;
    font-weight: 700;
    color: #00823B;
    background: #E2F0E8;
    padding: 15px 0px;
    border-radius: 50%;
    margin-top: -15%;
    width: 50px;
    margin-left: 7px;
    text-align: center; 
}

/* note style */

.note{
    padding: 6% 3% 1.5% 3% !important;
    margin: 0% !important;

}
.note-0{
    margin: 0%!important;
    border: 1px solid #C1C1C1;
    justify-content: center;   
    border-radius: 15px;
}
.note-head h3{
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    background: #E2F0E8;
    color: #00823B;
    width: 130px;
    height: 30px;
    border-radius: 40px;
    margin-top: -1.5%;
}
.quote-img img{
    margin-top: 10px;
    width: 25px;
    height: 25px;
}
.note-1, .note-2{
    display: flex;
    justify-content: center;
}
.note-1{
    padding-top: 25px;
}
.note-2{
    padding-bottom: 55px;
}
.note-text h4{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.note-text{
    border: 1px solid #B2B2B2;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.or h3{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    background: #ffffff;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top:6px;
    margin-top: -3%;
    border: 1px solid #B2B2B2;
}
.or  h6{
    content:" ";
    border-top: 1px solid #B2B2B2;
}

.assessment-text textarea{
    border: none;
    resize: none;
    margin-top: 40px;
}
.assessment-text{
    height: 130px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-left: 5% !important;
}
textarea:focus{
    border: none !important;
    outline: 0;
}

.submit{
    display: flex;
    justify-content: flex-end;
    color: #00823B;
    margin-top: 30px !important;
    margin-right: 7%;
}
.submit button{
    font-size: 14px;
    background-color: white;
    padding: 12px 40px 12px 60px;
    border: none;
    color: #00823B;
    border-radius: 5px;
    
}
.submit img{
    position: relative;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    left: 3.5%;
    font-size: 18px;
}