.assess-card {
    width: 25rem !important;
    padding: 1.2rem;
    background: white;
    margin-left: 0.5rem;
    border-radius: 1rem;
}

.assess-card .managerlogo {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.assess-card .managerlogo img {
    width: 60px;
    height: 60px;
    border-radius: 80px;
    object-fit: cover;
    margin-bottom: 1rem;

}

.assess-card .headDesc {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: .8rem;
}

.assess-card .headDesc span:nth-child(1) {
    font-size: 1rem;
    font-weight: bolder;
}

.assess-card .allow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assess-card .btn button {
    padding: .4rem;
    font-size: .8rem;
}

.cardFooter {
    margin: 0;
}

@media(max-width:767px) {
    .assess-card {
        width: 20rem !important;
        /* margin-left: 0.8rem; */
    }

}