.assess-card {
    width: 25rem !important;
    padding: 2vh;
    background: white;
    /* margin-left: 0.5rem; */
    margin-bottom: 1.2rem;

}

.assess-card .managerlogo {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.assess-card .managerlogo img {
    width: 25%;
}

.assess-card .headDesc {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.assess-card .headDesc span:nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
}

.assess-card .allow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:767px) {
    .assess-card {
        width: 24rem !important;
        margin-left: 0.8rem;
    }

}