#header {
    position: sticky !important;
    background-color: #fff;
    top: 0;
    z-index: 11;
}

.logo {
    width: 12rem;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    border: none !important;
    outline: none I !important;
    box-shadow: none !important;
}

@media(max-width:767px) {
    .logo {
        width: 9rem;
    }
}

.nav-link {
    font-size: 16px;
    font-weight: 500 !important;
}

.btn {
    width: 150px;
    border-radius: 0 !important;
    transition: all .3s ease-in-out;
    font-weight: 500 !important;
}

#login-btn {
    border: 0 !important;
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
}

#login-btn:hover {
    background: var(--bg-dark);
}

#signup-btn {
    border: 0 !important;
    background: var(--bg-dark);
    color: #fff;
    padding: 10px;
}

#signup-btn:hover {
    background: var(--primary-color);
}

@media(max-width:767px) {
    .nav-link {
        color: black !important;
        font-weight: bold !important;
    }

    #login-btn,
    #signup-btn {
        font-weight: 700 !important;
        letter-spacing: 1.2px !important;
    }

    .mobile-menu {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100vh;
        max-height: 500px;
    }

    .mobile-menu li {
        margin: 15px auto;
    }
}