.empnavbar {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    padding-block: 2vh;
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 5vh;
    z-index: 11;
    border-radius: 2vh;
    padding-inline: 4vh;
}

.logo.navLink {
    width: 3vh;
}

.navlink {
    text-decoration: none;
    color: black;
}

.active {
    color: #1f4aff;
}

.navbarBody {
    display: flex;
    align-items: center;
    gap: 7vh;
}

.navitem {
    font-weight: 800;
}

.navbarBody a:hover {
    color: #1f4aff;
}

.navbarFoot button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../assets/images/user.svg")no-repeat center #fff;
    width: 5vh;
    height: 5vh;
    border-radius: 0.35rem;
    border: 1px solid #c9c9c9;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navitem {
    position: relative;
    top: 40%;
}

.navitem svg {
    color: #00823B;
}

.navbarDropdown {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 2vh;
    position: absolute;
    background: white;
    border-radius: 0.4rem;
    z-index: 9;
    width: 8%;
}

.navbarDropdown li a {
    text-decoration: none;
    color: black;
}

@media(max-width:767px) {
    .empnavbar {
        align-items: center;
        padding: 1vh;
        justify-content: space-between;
    }

    .navbarDropdown {
        right: 0rem;
    }

    .mobileNavbar {
        display: block;

    }



    .mobileNavbar .navitem {
        padding: 10px;
    }

    .navbarHeader {
        order: 2;
    }

    .navbarFoot {
        order: 3;
    }

}