.signupHeader {
    font-size: xx-large;
    height: fit-content;
}

.showPass {
    float: right;
    margin-top: -6dvh;
    position: relative;
    z-index: 2;
    margin-right: 1vh;
    cursor: pointer;
}

.signup-container .sign {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding: 2vh;
    gap: 1vh;
    height: 81vh;
}

form {
    width: 70vh;
}



label.control-label {
    padding: 1vh;
    font-weight: 700;
}

input {
    border: 1px solid #00823B !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dropdowns {
    display: flex;
    gap: 2vh;
}

.dropdowns select {
    border: 1px solid transparent !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    padding: 1.3vh;
}

.form-group {
    width: 100%;
}

.selectBoxAssessment .ant-select-selector {
    border: 1px solid #00823B !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selectBoxAssessment .ant-select-selector input {
    padding: 1rem !important;
}



@media(max-width:991px) {

    .showPass {
        margin-top: -2.2dvh;
    }
}

@media(max-width:767px) {

    form {
        width: 80vw;
    }

    .dropdowns {
        gap: 0.2vh;
        /* flex-direction: column; */
    }

    .showPass {
        margin-top: -3.2dvh;
    }

    .signup-container {
        margin-bottom: 3rem !important;
    }
}