.employer-home {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 4rem;
  overflow-x: hidden;
  height: 100vh;
}

.search-inputs {
  width: inherit;
  background-color: white;
  height: 10vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4.4rem;
  z-index: 1;
}

.search-inputs .input-box {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
}

.search-inputs .input-box img {
  width: 6%;
}

.input-box3 {
  border: 0 !important;
  border-right: 1px solid #dadada !important;
}

.search-inputs .input-box .box-input {
  height: 100%;
  border: 0 !important;
  outline: none;
  background: transparent;
  box-shadow: none;
  margin-left: 1rem;
  width: 100%;
  border-right: 1px solid #dadada !important;
}

.search-inputs .input-box .box-select {
  border: 0 !important;
  outline: none;
  background: transparent;
  box-shadow: none;
  margin-left: 1rem;
  width: 100%;
}

.search-inputs .input-box .no-border {
  border-right: none !important;
  width: 50% !important;
}

.search-inputs button {
  position: absolute;
  right: 3rem;
  top: 0.5rem;
  width: 10rem;
  padding: 1rem;
  border: 0;
  background: #00823b 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 10px;
}

.search-results {
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  overflow-y: auto;
  background-color: #F5F7F9;
  flex-wrap: wrap;
  width: 100vw;
  overflow-x: hidden;
}

.search-settings {
  flex: .2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.ant-select-selection-search {
  width: inherit !important;
}

.ant-select-selection-search input {
  border: 0 !important;
  outline: none !important;
  box-shadow: none;
}

.search-settings .dropdowns {
  display: flex;
  flex-direction: column;
}

.result-employees {
  padding: 1rem 2rem;
  padding-top: 0;
  margin-left: 4rem;
}

.dropdown-select p {
  font-size: 1.2rem;
}

.checkboxes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.checkboxes .checkboxes-div {
  display: flex;
  flex-direction: column;
}

.ranges {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.clear-filter {
  width: 50%;
  margin-top: 2rem;
  text-decoration: none;
  color: #3c3c3c;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1.1rem;
}

.clear-filter img {
  margin-right: .7rem;
}

.clear-filter:hover {
  color: #000 !important;
}

.result-employees .row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0;
}

.result-employees .row2 {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem !important;
  justify-content: center;
  width: 100vw;
  height: auto;
  z-index: inherit;
}

.ranges-div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

/* media queries for small devices  */

@media (max-width:767px) {
  .search-settings {
    display: none;
  }

  .search-inputs {
    display: none;
  }

  .result-employees {
    padding: 1rem 2rem;
    padding-top: 0;
    margin-left: 0rem;
  }
  .result-employees .row2 {
    margin: 2rem 0 6rem 0;
  }

  /* .mobile-filters {
    background: url('../../assets/images/filter-filled.png');
    display: flex;
    width: 1rem;
    height: 1rem;
    padding: 2rem;
    border-radius: 50%;
    margin-left: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    cursor: pointer;
    position: relative;
  } */



  .result-employees .row1 {
    display: none;
  }


}