.employer-home {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 4rem;
  overflow-x: hidden;
  margin-top: 8vh;
}

.search{
  width: 100%;
}

.search-inputs {
  width: inherit;
  background-color: white;
  height: 10vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4.4rem;
  z-index: 1;
}

.search-inputs .input-box {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
}

.search-inputs .input-box img {
  width: 6%;
}

.input-box3 {
  border: 0 !important;
  border-right: 1px solid #dadada !important;
}

.search-inputs .input-box .box-input {
  height: 100%;
  border: 0 !important;
  outline: none;
  background: transparent;
  box-shadow: none;
  margin-left: 1rem;
  width: 100%;
  border-right: 1px solid #dadada !important;
}

.search-inputs .input-box .box-select {
  border: 0 !important;
  outline: none;
  background: transparent;
  box-shadow: none;
  margin-left: 1rem;
  width: 100%;
}

.search-inputs .input-box .no-border {
  border-right: none !important;
  width: 50% !important;
}

.search-inputs button {
  position: absolute;
  right: 3rem;
  top: 0.5rem;
  width: 10rem;
  padding: 1rem;
  border: 0;
  background: #00823b 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 10px;
}

.search-results {
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  overflow-y: auto;
  background-color: #F5F7F9;
  flex-wrap: wrap;
  width: 100vw;
  overflow-x: hidden;
}

.search-settings {
  flex: .2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.ant-select-selection-search {
  width: inherit !important;
}

.ant-select-selection-search input {
  border: 0 !important;
  outline: none !important;
  box-shadow: none;
}

.search-settings .dropdowns {
  display: flex;
  flex-direction: column;
}

.result-employees {
  padding: 1rem 2rem;
  padding-top: 0;
  margin-left: 4rem;
}

.dropdown-select p {
  font-size: 1.2rem;
}

.checkboxes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.checkboxes .checkboxes-div {
  display: flex;
  flex-direction: column;
}

.ranges {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.clear-filter {
  width: 50%;
  margin-top: 2rem;
  text-decoration: none;
  color: #3c3c3c;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1.1rem;
}

.clear-filter img {
  margin-right: .7rem;
}

.clear-filter:hover {
  color: #000 !important;
}

.result-employees .row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0;
}

.result-employees .row2 {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem !important;
  justify-content: center;
  /* width: 100vw; */
  height: auto;
  z-index: inherit;
}

.ranges-div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.panel-group {
  margin-top: 30px;
}


.panel-collapse {
  max-height: 500px;
  overflow: hidden;
  transition: max-height .5s ease;
}

.panel-close {
  max-height: 0;
}

.filters {
  float: left;
  width: 25%;
  background: white;
  border-radius: 2vh;
  padding-bottom: 2vh;

}

.filtersdiv {
  display: flex;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 2vh;
  margin-inline: 3vh;
  padding-inline: 3vh;
  justify-content: space-between;
  font-size: medium;
  font-weight: 600;
  border: 1px #d1d1d1b8 solid;
  flex-direction: column;
}

.panel-collapse{
  width: 100%;
}

.searchip{
  background-color: #dbe3ef;
  border: none !important;
  border-radius: 2vh !important;
  padding: 2vh;
  margin-left: 3vh;
  margin-right: 2vh;
  width: 67%;
  outline: none;
}

.searchbtn{
  width: 3%;
  height: 6vh;
  border: none;
  background: #1f4aff;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.filtersimg {
  width: 20%;
  padding: 1vh;
}

.eachfilter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empCards{
  float: right;
  width: 75%;
  padding: 3vh;
}

.ant-card-cover{
  background: white;
  border-radius: 2vh;
}

.ant-card-actions{
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.ant-card-body{
  padding: 16px !important
}
/* media queries for small devices  */

@media (max-width:767px) {
  .search-settings {
    display: none;
  }

  .search-inputs {
    display: none;
  }

  .result-employees {
    padding: 1rem 2rem;
    padding-top: 0;
    margin-left: 0rem;
  }

  /* .mobile-filters {
    background: url('../../assets/images/filter-filled.png');
    display: flex;
    width: 1rem;
    height: 1rem;
    padding: 2rem;
    border-radius: 50%;
    margin-left: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    cursor: pointer;
    position: relative;
  } */



  .result-employees .row1 {
    display: none;
  }


}