.footer {
    position: fixed;
    /* padding: 10px 10px 0px 10px; */
    bottom: 0;
    width: 100%;
    margin-top: 24rem !important;
}

@media(max-width:767px) {

    .foot-item {
        display: grid;
        grid-template-columns: repeat(3, auto);


    }

    #footer {
        height: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .copyrightText {
        text-align: center;
        font-weight: bold;
        padding-bottom: 1rem;
    }
}