.employer-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 3vh
}
.search-inputs {
  width: inherit;
  background-color: white;
  height: 10vh !important;
  display: flex;
  position: fixed;
  top: 5.7rem !important;
  z-index: 1;
}
.search-inputs .input-box {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
}
.search-inputs .input-box img {
  width: 6%;
}
.search-inputs .input-box .box-input {
  height: 100%;
  border: 0 !important;
  outline: none;
  background: transparent;
  box-shadow: none;
  margin-left: 1rem;
  width: 100%;
  border-right: 1px solid #dadada !important;
}
.search-inputs .input-box .no-border {
  border-right: none !important;
  width: 50% !important;
}
.search-inputs button {
  position: absolute;
  right: 3rem;
  top: 1rem;
  width: 10rem;
  padding: 1rem;
  border: 0;
  background: #00823b 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 10px;
}
.search-results {
  margin-top: 6rem;
  display: flex;
}
.search-settings {
  flex: .2;
  padding:2rem;
  display: flex;
  flex-direction: column;
}
.ant-select-selection-search {
  width: inherit !important;
}
.ant-select-selection-search input {
  border: 0 !important;
  outline: none !important;
  box-shadow: none;
}
.search-settings .dropdowns {
  display: flex;
  flex-direction: column;
}
.result-employees {
  flex: .75;
}
.dropdown-select p{
font-size: 1.2rem;
}
.checkboxes{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.checkboxes .checkboxes-div{
  display: flex;
  flex-direction: column;
}
.ranges{
  margin-top: 2rem;
}
.clear-filter{
  width: 50%;
  margin-top: 2rem;
  text-decoration: none;
  color: #3c3c3c;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1.2rem;
}
.clear-filter img{
  margin-right: .7rem;
}
.clear-filter:hover{
  color: #000 !important;
}
.result-employees .row1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0;
}
.result-employees .row2{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.ranges-div{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
