#login {
    margin: 30px auto 0px;
    background: var(--bg-dark);
    padding: 60px 0;
}

.login-heading {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.login-form {
    border-radius: 0;
    background-color: white !important;
    width: 625px;
    padding: 20px;

}

.login-form input {
    border: 0 !important;
    border-bottom: 1px solid #acacac !important;
    border-radius: 0 !important;
    margin-bottom: 30px !important;
}

.login-form input:focus {
    outline: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
}

.login-btn {
    width: 100%;
    background: var(--primary-color) !important;
    color: white !important;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn:hover {
    background: #000;
    color: white;
}



.buttons {
  display: flex;
  flex-direction: column;
}
.buttons button {
  margin: 0.1rem 0;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  align-items: center;
  box-shadow: 0px 0px 14px #00000014;
  border: 0;
  font-weight: bold;
  letter-spacing: .1rem;
  font-size: .8rem;
  transition: .3s ease;
}
.buttons button img{
    margin-right: 1.2rem;
    width: 1.6rem;
}
.buttons button:hover{
    background: #69cd96 0% 0% no-repeat padding-box;
}
.divider-text {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: gray;
}

.divider-line {
  display: flex;
  align-items: center;
}

.divider-line hr {
  flex-grow: 1;
  margin: 0 10px;
  border: none;
  border-top: 1px solid gray;
}

@media(max-width: 567px){
    /* .divider-line {
        margin-top: 12%;
    } */
}

@media(max-width:767px) {
    .login-form {
        width: 100%;
    }

    .text-light {
        text-align: center;
    }
}