#login {
    margin: 30px auto 0px;
    background: var(--bg-dark);
    padding: 60px 0;
}

.login-heading {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.login-form {
    border-radius: 0    ;
    background-color: white !important;
    width: 625px;
    padding: 20px;
    
}

.login-form input {
    border: 0 !important;
    border-bottom: 1px solid #acacac !important;
    border-radius: 0 !important;
    margin-bottom: 30px !important;
}

.login-form input:focus {
    outline: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
}

.login-btn {
    width: 100%;
    background: var(--primary-color) !important;
    color: white !important;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.login-btn:hover {
    background: #000;
    color: white;
}


@media(max-width:767px) {
    .login-form {
        width: 100%;
    }
}