* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00823B;
  --secondary-color: #50B855;
  --bg-light: #E2F0E8;
  --bg-dark: #000000;
  --light-gray: #00000012;
  --dark-gray: #707070;
}

.heading {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@media(max-width:767px) {
  .heading {
    text-align: center;
  }
}

.text-color-green {
  color: var(--primary-color);
}

.text-color-light {
  color: #acacac !important;
}

.text-gray {
  color: #5e5e5e;
}

@media(max-width:767px) {
  .heading {
    text-align: center;
  }
}