.progressLow {
    width: inherit;
    height: inherit;
    position: relative;
  }
  .progressLow .progress-icon {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fa-thumbs-up {
    color: #17bf91;
  }
  .fa-thumbs-down {
    color: #d22424;
  }

  