.back {
    background: #E2F0E8 0% 0% no-repeat padding-box;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-container {
    background: white;
    padding: 1vh 20vh;
}

.backIcon {
    color: #9EC2AD;
    margin-left: 8px;
}

.downIcon {
    color: #9EC2AD;
}

.employeeDetailsText {
    font-size: 25px;
    font-weight: bold;
}

.viewIcon,
.linkIcon {
    width: 20px;
    margin-right: 5px;
}

.portfolio-btn {
    background-color: #E2F0E8 !important;
    padding: 6px 12px;
    margin-left: 20px;
    border-radius: 9px !important;
}

.employeeDetails {
    margin-left: 20px;
}

.employeeImg {
    width: 8rem;
}

.employeeImg .empImg {
    width: 100%;
    height: 100%;
}

.employeeDetails h3 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.employeeDetails p {
    font-size: 30px;
    margin: 0;
}

.progressbar {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff !important;
    margin-right: 40px;
}


.progressContent {

    display: flex;
    justify-content: center;
    align-items: center;
}

.progressContent p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.companyLogo {
    width: 164px;
    height: 164px;
    border: 1px solid #00823B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.companyLogo .logo {
    width: 100%;
    text-align: center;
}

.font-size-39 {
    font-size: 30px;
}

.font-size-25 {
    font-size: 25px;
}


.divider {
    border: 1px solid #C1C1C1;
    opacity: 0.7;
    margin: 25px auto;
}

.companies-section {
    background-color: #f5f7f9;
    padding: 30px 0;
}

.skillsContainer {
    margin: 30px auto;
    padding: 20px 20px;
    border-radius: 24px;
    background: #EFF6F2 !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.skillsContainer .skills {
    margin: 0rem 6rem;

}

.inside-skills {
    margin: 2rem 3rem;
    display: flex !important;
    overflow-x: scroll;
    max-width: 80%;
    padding-bottom: 1rem;

}

@media(max-width:767px) {
    .inside-skills {
        margin: 0;
        max-width: 100%;
    }
}

/* width */
.inside-skills::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.inside-skills::-webkit-scrollbar-track {
    background: #EFF6F2;
}

/* Handle */
.inside-skills::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
.inside-skills::-webkit-scrollbar-thumb:hover {
    background: #01976f;
}

.skillsContainer .arrowLeft {
    position: absolute;
    left: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px #00000024;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.skillsContainer .arrowRight {
    position: absolute;
    right: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px #00000024;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.skillsContainer p {
    margin: 0;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.empDetailsProgress .circle-wrap {
    width: 150px;
    height: 150px;
    /* background: #C1C1C1; */
    border-radius: 50%;
    /* border: 1px solid #C1C1C1; */
    margin-right: 20px;
}

.empDetailsProgress .circle-wrap .mask .orange {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #e56839 !important;
}


/* circular progress bar  */

.circle-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #C1C1C1; */
}

.circle-wrap p {
    font-weight: bold;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border: 1px solid #C1C1C1;
    border-radius: 50%;
    background: #ffffff;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #00823B;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

/* color animation */


@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

.skillsCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.progressBars p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.skillsContainer .progress-percent {
    font-size: 39px;
    color: #00823B;
}

.employerResult {
    padding: 50px;
    margin: 30px auto;
    text-align: center;
    border-radius: 24px;
    border: 1px solid #D8D8D8;
    position: relative;
}

.employerResult .quoteLeft {
    position: absolute;
    left: 5vh;
    color: #D8D8D8;
    top: 6vh;
}

.employerResult p {
    font-size: 40px;
    color: #232323;
    font-weight: bold;
}

/* media queries for mobile menu  */
@media (max-width:767px) {
    .companyLogo {
        width: 70px;
        height: 70px;
    }

    .font-size-39 {
        font-size: 18px;
        margin: 0.5px;
    }

    .font-size-25 {
        font-size: 16px;
    }

    .employerResult {
        padding: 1.5rem;
        margin: 1rem auto;
    }

    .employerResult p {
        font-size: 16px;
        margin-left: 2rem;
    }

    .employerResult .quoteLeft {
        left: 3vh;
        top: 3vh;
    }

    .employeeImg {
        width: 7rem;
    }

    .employeeDetails h3 {
        font-size: 25px;
    }

    .employeeDetails p {
        font-size: 20px;
    }

    .progressBars p {
        font-size: 18px;
    }

    .employeeDetailsText,
    .view-resume-btn,
    .portfolio-text {
        font-size: 14px;
    }
}



.prevSkillsContainer {
    margin-top: 2rem !important;
}